### Q1. What is MongoDB? Explain non-relational databases in short. In which scenarios it is preferred to use MongoDB over SQL databases?
### Ans)
* **MongoDB:-** Is a non-relational document database that provides support for JSON-like storage. The MongoDB database has a flexible data model that enables you to store unstructured data, and it provides full indexing support, and replication with rich and intuitive APIs.

* **NoSql:-** A non-relational database is a database that does not use the tabular schema of rows and columns found in most traditional database systems. Instead, non-relational databases use a storage model that is optimized for the specific requirements of the type of data being stored. For example, data may be stored as simple key/value pairs, as JSON documents, or as a graph consisting of edges and vertices.

1. Flexibility: MongoDB allows developers to work with semi-structured and unstructured data easily, which makes it more flexible than SQL databases, where the data must be modeled into a strict schema.

2. Scalability: MongoDB is designed to scale out horizontally, which makes it easy to scale up to handle large amounts of data or traffic.

3. Performance: MongoDB can provide better performance than SQL databases, especially for read-intensive workloads or when dealing with large datasets.

4. High availability: MongoDB provides features like replica sets and sharding, which helps to ensure high availability and prevent data loss.

5. Real-time analytics: MongoDB can provide real-time analytics on large datasets, which can be helpful for businesses that need to make data-driven decisions quickly.

* MongoDB is a popular NoSQL database that is preferred in scenarios where there is a need for flexibility, scalability, performance, high availability, and real-time analytics.

### Q2. State and Explain the features of MongoDB.
### Ans)
**Schema-less Database:-**  It is the great feature provided by the MongoDB. A Schema-less database means one collection can hold different types of documents in it. Or in other words, in the MongoDB database, a single collection can hold multiple documents and these documents may consist of the different numbers of fields, content, and size. It is not necessary that the one document is similar to another document like in the relational databases. Due to this cool feature, MongoDB provides great flexibility to databases.

**Document Oriented:-** In MongoDB, all the data stored in the documents instead of tables like in RDBMS. In these documents, the data is stored in fields(key-value pair) instead of rows and columns which make the data much more flexible in comparison to RDBMS. And each document contains its unique object id.

**Indexing:-** In MongoDB database, every field in the documents is indexed with primary and secondary indices this makes easier and takes less time to get or search data from the pool of the data. If the data is not indexed, then database search each document with the specified query which takes lots of time and not so efficient.

**Scalability:-** MongoDB provides horizontal scalability with the help of sharding. Sharding means to distribute data on multiple servers, here a large amount of data is partitioned into data chunks using the shard key, and these data chunks are evenly distributed across shards that reside across many physical servers. It will also add new machines to a running database.

**Replication:-** MongoDB provides high availability and redundancy with the help of replication, it creates multiple copies of the data and sends these copies to a different server so that if one server fails, then the data is retrieved from another server.

**Aggregation:-** It allows to perform operations on the grouped data and get a single result or computed result. It is similar to the SQL GROUPBY clause. It provides three different aggregations i.e, aggregation pipeline, map-reduce function, and single-purpose aggregation methods

**High Performance:-** The performance of MongoDB is very high and data persistence as compared to another database due to its features like scalability, indexing, replication, etc.

### Q3. Write a code to connect MongoDB to Python. Also, create a database and a collection in MongoDB.

In [1]:
pip install pymongo

Requirement already satisfied: pymongo in /opt/conda/lib/python3.10/site-packages (4.3.3)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /opt/conda/lib/python3.10/site-packages (from pymongo) (2.3.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pymongo

# Connect to MongoDB server

client = pymongo.MongoClient("mongodb+srv://AnantShah002:AnantShah002@cluster0.0eigvos.mongodb.net/?retryWrites=true&w=majority")
db = client.test


# Create a database
db = client["Infinity"]

# Create a collection
my_coll = db["My_record"]

### Q4. Using the database and the collection created in question number 3, write a code to insert one record, and insert many records. Use the find() and find_one() methods to print the inserted record.

In [3]:
import logging
logging.basicConfig(filename="text.log",level =logging.INFO)

In [4]:
# Create mentor details data
# use insert one record
mentor = {"Course":"Data Scince Master",
          "Batch Name":"Impact Batch",
          "Mentor_Name" :[ "Sudhanshu","Krish"],
          "Duration": "7-8 months"
}

In [5]:
logging.info("Insert a Data into my data base collection")
try :
    my_coll.insert_one(mentor)
    logging.info("Insert data successful")
except Exception as e:
    logging.ERROR("Insert Data Unsuccessful" + str(e))
finally:
    [print(i) for i in my_coll.find()]

{'_id': ObjectId('63f8b71cd00e001556564d1d'), 'Course': 'Data Scince Master', 'Batch Name': 'Impact Batch', 'Mentor_Name': ['Sudhanshu', 'Krish'], 'Duration': '7-8 months'}

In [6]:
# Create student details data 
# using insert many records
student=[
  { "name": "Amy", "address": "Apple st 652" },
  { "name": "Hannah", "address": "Mountain 21" },
  { "name": "Michael", "address": "Valley 345" },
  { "name": "Sandy", "address": "Ocean blvd 2" },
  { "name": "Betty", "address": "Green Grass 1" },
  { "name": "Richard", "address": "Sky st 331" },
  { "name": "Susan", "address": "One way 98" },
  { "name": "Vicky", "address": "Yellow Garden 2" },
  { "name": "Ben", "address": "Park Lane 38" },
  { "name": "William", "address": "Central st 954" },
  { "name": "Chuck", "address": "Main Road 989" },
  { "name": "Viola", "address": "Sideway 1633" }
]

In [7]:
logging.info("Insert multiple data into my data base collection")
try :
    my_coll.insert_many(student)
    logging.info("Insert Multiple Data Successful")
except Exception as e:
    logging.ERROR("Insert Multiple Data Unsuccessful" + str(e))
finally:
    [print(i) for i in my_coll.find()]

{'_id': ObjectId('63f8b71cd00e001556564d1d'), 'Course': 'Data Scince Master', 'Batch Name': 'Impact Batch', 'Mentor_Name': ['Sudhanshu', 'Krish'], 'Duration': '7-8 months'}
{'_id': ObjectId('63f8b71fd00e001556564d1e'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('63f8b71fd00e001556564d1f'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('63f8b71fd00e001556564d20'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('63f8b71fd00e001556564d21'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('63f8b71fd00e001556564d22'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('63f8b71fd00e001556564d23'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('63f8b71fd00e001556564d24'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('63f8b71fd00e001556564d25'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('63f8b71fd00e001556564d26'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('63f8b71fd00e001556564d27'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('63f8b71fd00e001556564d28'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('63f8b71fd00e001556564d29'), 'name': 'Viola', 'address': 'Sideway 1633'}

### Q5. Explain how you can use the find() method to query the MongoDB database. Write a simple code to demonstrate this.
### Ans)
In MongoDB, find() method is used to select documents in a collection and return a cursor to the selected documents. Cursor means a pointer that points to a document, when we use find() method it returns a pointer on the selected documents and returns one by one.

In [8]:
# Create random data 
random_data = [
    {'_id': '3', 'companyName': 'iNeuron', 'Faculty': 'XYZ'},
    {'_id': '4', 'companyName': 'iNeuron', 'Faculty': 'ABC'},
    {'_id': '5', 'companyName': 'iNeuron', 'Faculty': 'PQR'},
]
my_coll.insert_many(random_data)

In [9]:
# Check data is >= 4
for i in my_coll.find({"_id":{"$gte" : '4'}}):
    print(i)

{'_id': '4', 'companyName': 'iNeuron', 'Faculty': 'ABC'}
{'_id': '5', 'companyName': 'iNeuron', 'Faculty': 'PQR'}

In [10]:
# Check data is <= 4
for i in my_coll.find({"_id":{"$lte" : '4'}}):
    print(i)

{'_id': '3', 'companyName': 'iNeuron', 'Faculty': 'XYZ'}
{'_id': '4', 'companyName': 'iNeuron', 'Faculty': 'ABC'}

In [11]:
[i for i in my_coll.find({"_id":{"$lte" : '4'}})]

[{'_id': '3', 'companyName': 'iNeuron', 'Faculty': 'XYZ'},
 {'_id': '4', 'companyName': 'iNeuron', 'Faculty': 'ABC'}]

### Q6. Explain the sort() method. Give an example to demonstrate sorting in MongoDB.
### Ans) 
MongoDB sort by date is used to sort the date field in ascending or descending order, we can sort the date by using the sort method in MongoDB. We can also use the aggregate method to sort the date and timestamp field in MongoDB. We need to pass -1 or 1 value with the date field to sort the data. If we pass -1 value with date field our result shows in descending order, if we pass 1 value with date field our result shows in ascending order.

In [12]:
a = my_coll.find().sort("name",-1)
for i in a:
    print(i)

{'_id': ObjectId('63f8b71fd00e001556564d27'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('63f8b71fd00e001556564d29'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('63f8b71fd00e001556564d25'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('63f8b71fd00e001556564d24'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('63f8b71fd00e001556564d21'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('63f8b71fd00e001556564d23'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('63f8b71fd00e001556564d20'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('63f8b71fd00e001556564d1f'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('63f8b71fd00e001556564d28'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('63f8b71fd00e001556564d22'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('63f8b71fd00e001556564d26'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('63f8b71fd00e001556564d1e'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('63f8b71cd00e001556564d1d'), 'Course': 'Data Scince Master', 'Batch Name': 'Impact Batch', 'Mentor_Name': ['Sudhanshu', 'Krish'], 'Duration': '7-8 months'}
{'_id': '3', 'companyName': 'iNeuron', 'Faculty': 'XYZ'}
{'_id': '4', 'companyName': 'iNeuron', 'Faculty': 'ABC'}
{'_id': '5', 'companyName': 'iNeuron', 'Faculty': 'PQR'}

### Q7. Explain why delete_one(), delete_many(), and drop() is used.
### Ans)
* **deleteOne():-** The deleteOne() function is used to delete the first document that matches the conditions from the collection. It behaves like the remove() function but deletes at most one document regardless of the single option.

* **deleteMany():-** The deleteMany() function is used to delete all of the documents that match conditions from the collection. This function behaves like the remove() function but it deletes all documents that match conditions regardless of the single option

* **drop():-** The drop() method removes collections from the database. It also removes all indexes associated with the dropped collection. The drop method accepts an optional document. It returns true if the collection dropped successfully. It takes one parameter which is optional.