### Q1) What is a database? Differentiate between SQL and NoSQL databases.
### Ans) **Database:-** The Database is an essential part of our life. As we encounter several activities that involve our interaction with databases, for example in the bank, in the railway station, in school, in a grocery store, etc. These are the instances where we need to store a large amount of data in one place and fetch these data easily. 

* **Data:-** statistics it is raw and unprocessed . ex- name , class , marks etc.

* **information:-** = when data is processed . ” record is also information “. example – pass or fail table etc.

* **Database:-** an organized collection of data and information or interrelated data collected at one place.

* **SQL:-** RELATIONAL DATABASE MANAGEMENT SYSTEM (RDBMS). These databases have fixed or static or predefined schema. These databases are not suited for hierarchical data storage.	These databases are best suited for complex queries. In this data base we get Vertically Scalable. This database Follows ACID property. SQL Databases Examples: MySQL, PostgreSQL, Oracle, MS-SQL Server, etc	

* **NoSQL:-** Non-relational or distributed database system. They have dynamic schema. These databases are best suited for hierarchical data storage. These databases are not so good for complex queries. In this data base we get Horizontally scalable. This database Follows CAP(consistency, availability, partition tolerance). NoSQL Database Examples: MongoDB, GraphQL, HBase, Neo4j, Cassandra, etc

### Q2) What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.
### Ans) 
**DDL:-** Data Definition Language(DDL) is a subset of SQL and a part of DBMS(Database Management System). DDL consist of Commands to commands like CREATE, ALTER, TRUNCATE and DROP. These commands are used to create or modify the tables in SQL.

* **CREATE:-** This command is used to create a new table in SQL. The user has to give information like table name, column names, and their datatypes.
> CREATE TABLE table1(c1 int,c2 varchar,c3 float);
* **DROP:-** This command is used to remove an existing table along with its structure from the Database.
> DROP TABLE table1;
* **ALTER:-** This command is used to add, delete or change columns in the existing table. The user needs to know the existing table name and can do add, delete or modify tasks easily.
> ALTER TABLE table1 MODIFY c3 int;
* **TRUNCATE:-** This command is used to remove all rows from the table, but the structure of the table still exists.
> TRUNCATE TABLE table1;

### Q3) What is DML? Explain INSERT, UPDATE, and DELETE with an example.
### Ans)
The data manipulation language statements are used to retrieve, add, delete, and modify the data that is stored in the objects of database. The keywords or statements that are associated with the data manipulation language are: SELECT INSERT, UPDATE and DELETE. These are the primary statements of data manipulation language (DML) and are used widely.
* The INSERT statement is used to insert a new row in the database that is adding data to a table.
> INSERT INTO table1 VALUES ('5','Ram','(M.P)','19');
* The UPDATE statement is used to update the data or row in the table.
> UPDATE table1 SET NAME = 'Anant' WHERE Age = 22;
* The DELETE statement is used to delete a row from the table in the database.
> DELETE FROM Student WHERE NAME = 'Anant';

### Q4) What is DQL? Explain SELECT with an example.
### Ans)
**DQL:-** Data Query Language(DQL) statements are used for performing queries on the data within schema objects. The purpose of the DQL Command is to get some schema relation based on the query passed to it. We can define DQL as follows it is a component of SQL statement that allows getting data from the database and imposing order upon it. It includes the SELECT statement. This command allows getting the data out of the database to perform operations with it. When a SELECT is fired against a table or tables the result is compiled into a further temporary table, which is displayed or perhaps received by the program a front-end.
* **SELECT:-** It is used to retrieve data from the database.
> SELECT * FROM TABLE1;

### Q5) Explain Primary Key and Foreign Key.
### Ans)
* **Primary Key:-** A primary key is used to ensure that data in the specific column is unique. A column cannot have NULL values. It is either an existing table column or a column that is specifically generated by the database according to a defined sequence. 

**Example:-** STUD_NO, as well as STUD_PHONE both, are candidate keys for relation STUDENT but STUD_NO can be chosen as the primary key (only one out of many candidate keys). 

* **Foreign Key:-** A foreign key is a column or group of columns in a relational database table that provides a link between data in two tables. It is a column (or columns) that references a column (most often the primary key) of another table. 

**Example:-** STUD_NO in STUDENT_COURSE is a foreign key to STUD_NO in STUDENT relation.

### Q6) Write a python code to connect MySQL to python. Explain the cursor() and execute() method.
### Ans) 
* **Cursor:-** A cursor keeps track of the position in the result set, and allows you to perform multiple operations row by row against a result set, with or without returning to the original table.

* **execute:-** execute method executes the given database operation (query or command). The parameters found in the tuple or dictionary params are bound to the variables in the operation.

In [2]:
import mysql.connector
mydb=mysql.connector.connect(
    host="localhost",
    user="root",
    password="123456789"
)
print(mydb)
mycursor=mydb.cursor()
mycursor.execute("SHOW DATABASES")
for x in mycursor:
    print(x)

<mysql.connector.connection.MySQLConnection object at 0x7f949956b520>
('information_schema',)
('leetcode',)
('mysql',)
('performance_schema',)
('sys',)
('test2',)

### Q7) Give the order of execution of SQL clauses in an SQL query.
### Ans)
The SQL order of execution defines the order in which the clauses of a query are evaluated. Some of the most common query challenges people run into could be easily avoided with a clearer understanding of the SQL order of execution, sometimes called the SQL order of operations. Understanding SQL query order can help you diagnose why a query won’t run, and even more frequently will help you optimize your queries to run faster.

In the modern world, SQL query planners can do all sorts of tricks to make queries run more efficiently, but they must always reach the same final answer as a query that is executed per the standard SQL order of execution.

1. FROM: This clause specifies the tables from which data is to be selected.

2. JOIN: If the query involves multiple tables, the JOIN clause is used to combine rows from different tables based on a related column between them.

3. WHERE: This clause is used to filter rows based on specified conditions.

4. GROUP BY: This clause is used to group rows based on specified columns.

5. HAVING: This clause is used to filter groups based on specified conditions.

6. SELECT: This clause is used to select the columns to be displayed in the query result.

7. DISTINCT: This clause is used to remove duplicate rows from the result set.

8. ORDER BY: This clause is used to sort the result set based on specified columns.

9. LIMIT/OFFSET: These clauses are used to limit the number of rows returned by the query.